{:paths ["src-bb"]

 :tasks
 {:requires ([babashka.process :as p]
             [build])

  test-jna-ffi
  (do (println "building uber jar...")
      (p/shell "clojure -T:build uber-jna")

      (println "\ninvoke test\n")
      (p/shell "java" "-jar" "target/dt-example.jar"))

  test-graal-ffi
  (do (println "building uber jar...")
      (p/shell "clojure -T:build uber-graal")

      (println "building native image...")
      (build/native-image-build)

      (println "\ninvoke test\n")
      (p/shell "./target/lotuc.dt-example.libc-invoking"))

  test-graal-shared-library
  (do (println "building uber jar...")
      (p/shell "clojure -T:build uber-graal")

      (println "building native shared library...")
      (build/native-image-shared-library-build)

      (println "building the cpp which invokes the shared library...")
      (build/compile-libgreet-invoking)

      (println "\ninvoke test\n")
      (p/shell "./target/libgreet-invoking"))}}
